{{confirmation-modal
  title="Delete a haircut"
  message="Please confirm that you want to delete a haircut"
}}

<div class="ui grid">
  <div class="equal height row">
    <div class="eight wide column">
      <img class="ui middle aligned image" src="assets/images/profile_placeholder.png">
      <div class='ui divider'></div>
      <div>
        {{file-upload url="#"}}
      </div>
    </div>
    <div class="eight wide column">
      {{#ui-form validation=validation submit=(action 'submit') id="modifyHaircutForm"}}
        <div class="field">
          <label>Barber</label>
          {{#power-select options=barbers selected=model.barber
            onchange=(action (mut model.barber)) class="five wide field" as |staff| }}
           {{staff.name}}
          {{/power-select}}
        </div>
        <div class="field">
          <label>Haircut type</label>
          {{#power-select options=products selected=model.product
            onchange=(action (mut model.product)) class="five wide field" as |product| }}
            {{product.name}}
          {{/power-select}}
        </div>
        <div class="field">
          <label>Price</label>
          {{input type="number" class="five wide field" name="price" value=model.itemPrice}}
        </div>
        <div class="field">
          <label>Location</label>
          {{#power-select options=users selected=order.user
            onchange=(action (mut order.user)) class="five wide field" as |user| }}
            {{user.location}}
          {{/power-select}}
        </div>
        <div class="field">
          <label>Date</label>
          {{date-picker date=order.date allowBlank="true" valueFormat='date' class="five wide field" format='DD MMMM YYYY'}}
        </div>
        <div class="field">
          <label>Client</label>
          {{#power-select options=clients selected=order.client
            onchange=(action (mut order.client)) class="five wide field" as |client| }}
            {{client.fullName}}
          {{/power-select}}

        </div>
        <div class="field">
          <label>Payment</label>
          {{#power-select options=paymentTypes selected=order.paymentType
            onchange=(action (mut order.paymentType)) class="five wide field" as |paymentType| }}
            {{paymentType}}
          {{/power-select}}
        </div>
      {{/ui-form}}
    </div>
  </div>
  <div class="row">
    <div class="eight wide column">
      <button class="ui grey button" {{action 'deleteRecord'}}>Delete Record</button>
    </div>
    <div class="eight wide column">
      <button class="ui orange right aligned button" {{action 'submit'}}>Save changes</button>
    </div>
  </div>
</div>
