{{#if (boolean-or model.isNew isActive)}}
  {{#each attributes as |fieldValue|}}
    <td><div class="ui fluid input">{{input value=(mut (get model fieldValue))}}</div></td>
  {{/each}}
    <td>
      <button class="ui green tiny button" {{action 'saveItem' model}}>SAVE</button>
    </td>
{{else}}
  {{#each attributes as |key|}}
    <td>{{get model key}}</td>
  {{/each}}
    <td>
      <button class="ui grey tiny button" {{action 'editItem' model}}>EDIT</button>
      <button class="ui red tiny button" {{action 'deleteItem' model}}>DELETE</button>
    </td>
{{/if}}
