<h1>Manage {{modelName}} list</h1>

<table class="ui celled fixed table">
  <thead>
    {{#each attributes as |header|}}
    <th>{{header}}</th>
    {{/each}}
    <th></th>
  </thead>
  <tbody>
    {{#each model as |item|}}
      {{#if (boolean-or item.isNew item.isActive)}}
        <tr>
          <td><div class="ui fluid input">{{input value=item.name}}</div></td>
          <td><div class="ui fluid input">{{input value=item.description}}</div></td>
          <td>
            <select class="ui fluid dropdown">
              <option value="">--select type--</option>
              <option value="service">service</option>
              <option value="product">product</option>
            </select>
          </td>
          <td class='ui labeled fluid input'>
              <div class="ui label">$</div>
              {{input value=item.price}}
          </td>
          <td>
            <button class="ui green tiny button" {{action 'saveItem' item}}>SAVE</button>
          </td>
       </tr>
      {{else}}
       <tr>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td> {{item.productType}} </td>
          <td> <div class="ui label">$</div> {{item.price}} </td>
          <td>
            <button class="ui grey tiny button" {{action 'editItem' item}}>EDIT</button>
            <button class="ui red tiny button" {{action 'deleteItem' item}}>DELETE</button>
          </td>
        </tr>
      {{/if}}
    {{/each}}
    <tr>
      <td colspan="5"><button class="ui green button" disabled={{disableAddButton}} {{action 'addItem'}}>ADD</button></td>
    </tr>
  </tbody>
  <tfoot> </tfoot>
</table>
