<div class='ui stackable grid'>
  <div class="equal height row">
    <div class='four wide column selection-box'>
      {{item-selection
        items=staffs
        optionLabelPath="name"
        selection=selectedBarber
      }}
    </div>
    <div class='four wide column selection-box'>
      {{item-selection
        items=products
        optionLabelPath="label"
        selection=selectedProduct
      }}
    </div>
    <div class='four wide column selection-box'>
      {{orders/manage-client-selection
        model=model
        clients=clients
        onClientSelected=(action 'selectClient')
        onCreateNewClient=(action 'createNewClient')
      }}
    </div>
    <div class='four wide column selection-box'>
      <div class="ui segment">
        <div class="ui centered grid">
          <div class="row">
            <div class="centered column">
              <button class="ui massive fluid button" {{action 'saveOrder' 'eftpos'}}>Eftpos</button>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <button class="ui massive fluid button" {{action 'addItem'}}>Add</button>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <button class="ui massive fluid button" {{action 'saveOrder' 'cash'}}>Cash</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='ui divider'></div>
  <div class="row">
    <div class="column">
      <div class="ui segment">
        <div class="ui grid">
        <div class="row">
          <div class="eight wide column"><h2>{{model.clientName}}</h2></div>
          <div class="seven wide right aligned column"><h2>Total:{{format-currency model.totalPrice}} </h2></div>
        </div>
      </div>
        <table class="ui celled table">
          <thead>
          <tr class="row">
            <th class="five wide column">Name</th>
            <th class="five wide column">Barber</th>
            <th class="three wide column">Price</th>
            <th class="three wide column"></th>
          </tr>
          </thead>
          <tbody>
            {{#each model.lineItems as |haircut|}}
              <tr class="row">
                <td class="five wide column"> {{haircut.product.name}} </td>
                <td class="five wide column"> {{haircut.barber.name}}</td>
                <td class="three wide column">$ {{haircut.itemPrice}}</td>
                <td class="three wide column">
                <button class= "ui button" {{action 'removeItem' haircut}}>Remove</button>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
