  <td>{{model.fullName}}</td>
  <td>{{model.phone1}}</td>
  <td>{{model.progress}}</td>
  <td>{{moment-format model.lastVisit 'DD MMMM YYYY'}}</td>
  <td><button class="ui button" {{action 'openRecord' model}} >Open</button></td>
